.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.maze-html {
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  border-spacing: 0px;
  font-size: 13px;
}

.maze-html tr {
  height: 20px;
}

.maze-html td {
  width: 20px;
  text-align: center;
}

.maze-html .left {
  border-left: 1px solid black;
}
.maze-html .right {
  border-right: 1px solid black;
}
.maze-html .top {
  border-top: 1px solid black;
}
.maze-html .right {
  border-right: 1px solid black;
}

.maze-svg {
  width: 95%;
  height: 95%;
}