

.maze {
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  border-spacing: 0px;
  font-size: 13px;
}

.maze tr {
  height: 20px;
}

.maze td {
  width: 20px;
  text-align: center;
}

.maze .left {
  border-left: 1px solid black;
}
.maze .right {
  border-right: 1px solid black;
}
.maze .top {
  border-top: 1px solid black;
}
.maze .right {
  border-right: 1px solid black;
}
