body {
  padding-top: 50px;
  padding-bottom: 20px;
  color: #555;
}

.masthead {
  padding: 80px 0;
  text-align: center;
}

.masthead img.sample {
  width: 220px;
}

.masthead .slogan {
  width: 80%;
  font-size: 25px;
  margin: 20px auto 30px auto;
}

.masthead button {
  font-size: 20px;
}

.masthead button img {
  stroke-color: white;
}

.masthead button img {
  width: 20px;
  padding: 0 2px 3px 0;
}

.game-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.connecting {
  width: 80%;
  margin: 20px auto 30px auto;
}

.connecting button {
  float: right;
  margin-top: 15px;
}

.game-container {
  display: inline-block;
}

.game-container button img {
  width: 20px;
  padding: 0 2px 3px 0;
}

.game-container .overlay-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  opacity: 0.8;
}

.game-container .overlay-message {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 45%;
  left: 0px;
  color: black;
  text-align: center;
  font-size: 30px;
}