body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.game-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.game-container {
  display: inline-block;
}

.game-container .overlay-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  opacity: 0.8;
}

.game-container .overlay-message {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 45%;
  left: 0px;
  color: black;
  text-align: center;
  font-size: 30px;
}